* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bell {
    position: fixed;
    font-size: 40px;
    width: 80px;
    height: 80px;
    border: 6px solid cadetblue;
    border-radius: 50%;
    top: 30px;
    left: 30px;
    text-align: center;
    line-height: 74px;
    cursor: pointer;
    transition: .2s;
}

.bell i {
    color: cadetblue;
    transform-origin: 50% 0;
    animation: ruch 1s linear infinite alternate;
}

@keyframes ruch {
    0% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(-25deg);
    }
}

.bell:hover {
    background-color: cadetblue;
}

.bell:hover i {
    color: white;
    /* animation-play-state: paused; */
    animation-duration: .3s;
}