body {
    margin: 0;
    height: 200vh;
}

.rect {
    position: absolute;
    width: 10vw;
    height: 10vw;
    border: 2px solid black;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 1;
    background-color: #fff;
}

.line {
    position: absolute;
    border-top: 10px dashed black;
    width: 100%;
    top: 100%;
    left: 0;
    transform: translateY(-50%);
    z-index: 0;
}